
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}


.text-small{
    color: black;
    font-size: 16px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    width: 1557px;
    height: 88px;
    padding: 20px 40px;
    gap: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.244);
    position: sticky;
    top: 0;
}

.div-left-content{
    display: flex;
    gap: 30px;
    padding: 20px;
    align-items: center;
    flex: 1;
}

.container-anclas{
    display: flex;
    gap: 20px;
}

.container-anclas .content-anclas .bi-chevron-down{
    font-weight: bold;
}

.div-content-right{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
}

.Log-in{
    width: 80px;
    height: 48px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}


.flag{
    display: flex;
    gap: 10px;
    align-items: center;

}
.container-a2{
    text-decoration: none;
    font-weight: bold;
}

span{
    font-weight: bold;
}
.container-img img{
    width: 157px;
    height: 78px;
    flex:2;
}

.div-content-right img{
    width: 35px;
    height: 30px;
}

.content-anclas{
    text-decoration: none;
    display: flex;
    gap:10px;
    align-items: center;
}


.hero{
    width: 100%;
    height:732px;
    display: flex;
    align-items: center;
}

.content-img img{
    width: 786px;
    height: 583px;
    display: flex;
    align-items: center;
    justify-content: right;
    
}

.content-hero{
    width: 786px;
    height: 583px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.title{
    width: 456px;
    height: 80px;
    font-size: 36px;
    color:rgb(31,19,70);
    text-align:start;
}



.div-button{
    display: flex;
    width: 456px;
    height: 38px;
    gap: 16px;
}

button{
    width: 200px;
}







.button-fix{
    background-color: #673DE6;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    width: 190px;
    height: 40px;
    position: fixed;
    top: 670px;
    left: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 4px;
}

span{
    font-weight: bold;
}

.bi-chat-right-text{
    width: 14px;
    height: 14px;
    color: white;
}

